<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Invoice</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="student-profile">
        <div class="content">
            <h3 class="text-sm-center">Invoice Details</h3>
            <hr />
            <form action="">
                <div class="form-group">
                    <p><Strong>Reference: </Strong>{{ Invoice.reference }}</p>
                </div>
                <div class="form-group">
                    <p><Strong>Student ID: </Strong>{{ Invoice.account_id }}</p>
                </div>
                <div class="form-group">
                  <p><Strong>Amount: </Strong>£{{ Invoice.amount }}</p>
                </div>
                <div class="form-group">
                    <p><Strong>Due Date: </Strong>{{ Invoice.dueDate }}</p>
                </div>
                <div class="form-group">
                <p><Strong>Status: </Strong>{{ Invoice.status }}</p>
                </div>
                <div class="form-group">
                <p><Strong>Type: </Strong>{{ Invoice.type }}</p>
                </div>
                <hr />
            </form>
            <button class="btn btn-primary">PAY</button>
            <a href="/portal">
                <button class="btn btn-secondary">Back to Portal</button>
            </a>
        </div>
    </div>

</div>
{% endblock %}
</body>
</html>